# Rakshex VS Code Extension — publish ignore list
node_modules
src
.vscode
.turbo
tests
*.ts
!src/types/*.d.ts
tsconfig.json
vitest.config.ts
.gitignore
.eslintrc*
.prettierrc*
PUBLISHING.md
dist/**/*.map
dist/**/*.test.js
*.vsix
